@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Bold.eot');
    src: url('Morganite-Bold.eot?#iefix') format('embedded-opentype'),
        url('Morganite-Bold.woff2') format('woff2'),
        url('Morganite-Bold.woff') format('woff'),
        url('Morganite-Bold.ttf') format('truetype'),
        url('Morganite-Bold.svg#Morganite-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

